src/contacts-parser/src/main/resources/schemas/contacts.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ContactRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contact" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="structuredName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="displayName"/>
                    <xs:element type="xs:string" name="givenName"/>
                    <xs:element type="xs:string" name="familyName"/>
                    <xs:element type="xs:string" name="prefixName"/>
                    <xs:element type="xs:string" name="middleName"/>
                    <xs:element type="xs:string" name="suffixName"/>
                    <xs:element type="xs:string" name="phoneticGivenName"/>
                    <xs:element type="xs:string" name="phoneticMiddleName"/>
                    <xs:element type="xs:string" name="phoneticFamily"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="organization">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="company"/>
                    <xs:element type="xs:string" name="department"/>
                    <xs:element type="xs:string" name="title"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="phones">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="phone" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="number"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="customLabel"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="emails">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="email" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="address"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="customLabel"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="addresses">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="address" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="customLabel"/>
                          <xs:element type="xs:string" name="street"/>
                          <xs:element type="xs:string" name="city"/>
                          <xs:element type="xs:string" name="region"/>
                          <xs:element type="xs:string" name="postcode"/>
                          <xs:element type="xs:string" name="country"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="photo"/>
              <xs:element name="groups">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="groupName"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>